@page
@model MoneyMap.Web.Areas.Users.Pages.Expenses.IndexModel

<a asp-page="./Create" class="btn btn-primary">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model.ExpenseList)
        {
            <tr>
                <td>@expense.Category.Name</td>
                <td>@expense.Amount</td>
                <td>@expense.Date.ToShortDateString()</td>
                <td>@expense.Note</td>
                <td class="d-flex gap-2">
                    <a asp-page="./Edit" asp-route-id="@expense.Id" class="btn btn-info">Edit</a>
                    <form method="post" asp-page-handler="delete" class="d-inline">
                        <input type="hidden" name="id" value="@expense.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>

